[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sanic = "*"
typing_extensions = "*"
jab = {editable = true, git = "https://github.com/stntngo/jab"}
parse = "*"

[dev-packages]
black = "*"
isort = "*"
mypy = "*"
invoke = "*"
rope = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true

[scripts]
lint = "invoke lint"
test = "pytest ."
