[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = "*"
starlette = "*"
typing_extensions = "*"
jab = {git = "http://github.com/stntngo/jab"}

[dev-packages]
black = "*"
isort = "*"
mypy = "*"
flake8 = "*"
invoke = "*"
gunicorn = "*"
pynvim = "*"
requests = "*"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true

[scripts]
lint = "invoke lint"
test = "python -m pytest ."
